@charset "utf8";

.tabs_box {
	position: relative;
}
.tab-box {
	display: none;
	width: 100%;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);
	z-index: 100;
}
.tab-container {
	display: flex;
	justify-content: center;
	background: #edf0ed;
}
.tab-container__item {
	cursor: pointer;
}
.tab-container__item:hover {
	background-color: #2b3826;
	transition: background-color 0.4s ease-in-out;
}
.tab-container__item:hover .tab-container__item--title {
	color: #fff;
	transition: color 0.4s ease-in-out;
}
.tab-container__item.active {
	border-bottom: 2px solid #2b3826;
}
.tab-container__item.active .tab-container__item--title {
	color: #2b3826;
}
.tab-container__item.active:hover {
	background-color: #2b3826;
	transition: background-color 0.4s ease-in-out;
}
.tab-container__item.active:hover .tab-container__item--title {
	color: #fff;
	transition: color 0.4s ease-in-out;
}
.tab-container__item--title {
	text-align: center;
	display: inline-block;
	color: #999;
	font-weight: 700;
	text-decoration: none;
	margin: 15px;
}
.content-container {
	width: 100%;
	background: #282936;
}
.content-container__content {
	display: none;
}
.content-container__content.target {
	display: block;
}
.Publ_common .publ_img_box .hljs {
	height: 86.5vh;
	color: #e9e9f4;
	background: #282936
}
.tabs_box .hljs {
	height: 50vh;
	color: #e9e9f4;
	background: #282936
  }
.Publ_common .publ_img_box pre code span {
	display: inline-block;
	margin: 0;
	font-size: 1.2em;
	font-family: 'GmarketSans';
	font-weight: 300;
}
	pre code span {
	display: inline-block;
	margin: 0;
	font-size: 1.2em;
	font-family: 'GmarketSans';
	font-weight: 300;
}
.Publ_common .tab-box {
	height: 90vh;
}
.Publ_common .content-container {
	height: 91.5vh;
}
#section4_2 .tab-box {
	height: 60vh;
}
#section4_2 .content-container {
	height: 54.5vh;
}
.front_common .tab-container {
	border-top: 1px solid #2b3826;
}
.front_common .tab-box {
	height: 60vh;
}
.front_common .content-container {
	height: 54.5vh;
}